/* Universal Selector */
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  
}
 
body {
   list-style: none;
}

main {
    text-align: center;
}
ul {
    list-style: none;
} 

input, 
label {
    text-align: center;
    list-style: none;
    color:rgb(2, 112, 112);
}

header {
    color: teal;
    background-color: tan;
    border-radius: 10px;
}

footer {
    text-align: center;
}

h1,
h2 {
    text-align: center;
    color: teal;
}
h3 {
    text-align: center;
}
p {
    color: teal;
}

.highlighted-text {
    text-align: center;
}

#contact-section {
    background-color: tan;
    border-radius: 10px;
}
.filler {
    visibility: hidden;
}